proj.win32
proj.android
cocosstudio
nanatrip.ccs
nanatrip.cfg
nanatrip.udf
Classes/.DS_Store
doc/.DS_Store
Resources/.DS_Store
Resources/res/.DS_Store
Resources/res/fonts/.DS_Store
.DS_Store
Resources
.cocos-project.json
bin
package
proj.ios_mac/ios
proj.ios_mac/libraries
proj.ios_mac/mac
proj.ios_mac/ShareSDK
